<table class="hometeam">
  <tr>
    <th>Local</th>
    <th>Visitante</th>
    <th>Resultado</th>
    <th>Fecha</th>
  </tr>
  <% localLast5.forEach(function(m){ %>
    <tr>
      <td><%= m.homeTeamName %></td>
      <td><%= m.awayTeamName %></td>
      <td><%= m.goalsHomeTeam %> - <%= m.goalsAwayTeam %></td>
      <td><%= m.date %></td>
    </tr>
  <% }) %>
</table>
<table class="awayteam">
  <tr>
    <th>Local</th>
    <th>Visitante</th>
    <th>Resultado</th>
    <th>Fecha</th>
  </tr>
  <% visitantLast5.forEach(function(m){ %>
    <tr>
      <td><%= m.homeTeamName %></td>
      <td><%= m.awayTeamName %></td>
      <td><%= m.goalsHomeTeam %> - <%= m.goalsAwayTeam %></td>
      <td><%= m.date %></td>
    </tr>
  <% }) %>
</table>
<table class="head2head">
  <tr>
    <th>Local</th>
    <th>Visitante</th>
    <th>Resultado</th>
    <th>Fecha</th>
  </tr>
  <% commonMatches.forEach(function(m){ %>
    <tr>
      <td><%= m.homeTeamName %></td>
      <td><%= m.awayTeamName %></td>
      <td><%= m.goalsHomeTeam %> - <%= m.goalsAwayTeam %></td>
      <td><%= m.date %></td>
    </tr>
  <% }) %>
</table>
