
<div class="back"><a href="/login">discover the way to win - }[ click</a>
<!-- =======
<h1>1ª División</h1>
<table>
  <% matches.forEach( match => { %>
    <tr class="match" data-hometeam="<%= match.homeTeam %>" data-awayteam="<%= match.awayTeam%>">
      <td><%= match.homeTeamName %></td>
      <td><%= match.awayTeamName %></td>
      <td><%= match.date %></td>
    </tr>
  <% }) %>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="javascript/main.js"></script>
>>>>>>> 6e5a5345d8d7113d681a4f5babb2bf26e0af52ee -->
